  <form action="/login/index_do">
    <table>
      <tr>
        <td>E-mail:</td>
        <td><input type="text" name="form[email]" value=""><br></td>
      </tr>
      <tr>
        <td>Password:</td>
        <td><input type="password" name="form[password]" value=""><br></td>
      </tr>
      <tr>
        <td align="right"><input type="submit" value="sing up"></td>
      </tr>
    </table>
  </form>
